<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇩</string>
		<key>Name</key>
		<string>Andorra</string>
	</dict>
	<key>AE</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇪</string>
		<key>Name</key>
		<string>United Arab Emirates</string>
	</dict>
	<key>AF</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇫</string>
		<key>Name</key>
		<string>Afghanistan</string>
	</dict>
	<key>AG</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇬</string>
		<key>Name</key>
		<string>Antigua and Barbuda</string>
	</dict>
	<key>AI</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇮</string>
		<key>Name</key>
		<string>Anguilla</string>
	</dict>
	<key>AL</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇱</string>
		<key>Name</key>
		<string>Albania</string>
	</dict>
	<key>AM</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇲</string>
		<key>Name</key>
		<string>Armenia</string>
	</dict>
	<key>AO</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇴</string>
		<key>Name</key>
		<string>Angola</string>
	</dict>
	<key>AQ</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇶</string>
		<key>Name</key>
		<string>Antarctica</string>
	</dict>
	<key>AR</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇷</string>
		<key>Name</key>
		<string>Argentina</string>
	</dict>
	<key>AS</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇸</string>
		<key>Name</key>
		<string>American Samoa</string>
	</dict>
	<key>AT</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇹</string>
		<key>Name</key>
		<string>Austria</string>
	</dict>
	<key>AU</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇺</string>
		<key>Name</key>
		<string>Australia</string>
	</dict>
	<key>AW</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇼</string>
		<key>Name</key>
		<string>Aruba</string>
	</dict>
	<key>AX</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇽</string>
		<key>Name</key>
		<string>Åland Islands</string>
	</dict>
	<key>AZ</key>
	<dict>
		<key>Emoji</key>
		<string>🇦🇿</string>
		<key>Name</key>
		<string>Azerbaijan</string>
	</dict>
	<key>BA</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇦</string>
		<key>Name</key>
		<string>Bosnia and Herzegovina</string>
	</dict>
	<key>BB</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇧</string>
		<key>Name</key>
		<string>Barbados</string>
	</dict>
	<key>BD</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇩</string>
		<key>Name</key>
		<string>Bangladesh</string>
	</dict>
	<key>BE</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇪</string>
		<key>Name</key>
		<string>Belgium</string>
	</dict>
	<key>BF</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇫</string>
		<key>Name</key>
		<string>Burkina Faso</string>
	</dict>
	<key>BG</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇬</string>
		<key>Name</key>
		<string>Bulgaria</string>
	</dict>
	<key>BH</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇭</string>
		<key>Name</key>
		<string>Bahrain</string>
	</dict>
	<key>BI</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇮</string>
		<key>Name</key>
		<string>Burundi</string>
	</dict>
	<key>BJ</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇯</string>
		<key>Name</key>
		<string>Benin</string>
	</dict>
	<key>BL</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇱</string>
		<key>Name</key>
		<string>Saint Barthélemy</string>
	</dict>
	<key>BM</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇲</string>
		<key>Name</key>
		<string>Bermuda</string>
	</dict>
	<key>BN</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇳</string>
		<key>Name</key>
		<string>Brunei</string>
	</dict>
	<key>BO</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇴</string>
		<key>Name</key>
		<string>Bolivia</string>
	</dict>
	<key>BQ</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇶</string>
		<key>Name</key>
		<string>Bonaire, Sint Eustatius and Saba</string>
	</dict>
	<key>BR</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇷</string>
		<key>Name</key>
		<string>Brazil</string>
	</dict>
	<key>BS</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇸</string>
		<key>Name</key>
		<string>Bahamas</string>
	</dict>
	<key>BT</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇹</string>
		<key>Name</key>
		<string>Bhutan</string>
	</dict>
	<key>BV</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇻</string>
		<key>Name</key>
		<string>Bouvet Island</string>
	</dict>
	<key>BW</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇼</string>
		<key>Name</key>
		<string>Botswana</string>
	</dict>
	<key>BY</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇾</string>
		<key>Name</key>
		<string>Belarus</string>
	</dict>
	<key>BZ</key>
	<dict>
		<key>Emoji</key>
		<string>🇧🇿</string>
		<key>Name</key>
		<string>Belize</string>
	</dict>
	<key>CA</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇦</string>
		<key>Name</key>
		<string>Canada</string>
	</dict>
	<key>CC</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇨</string>
		<key>Name</key>
		<string>Cocos (Keeling) Islands</string>
	</dict>
	<key>CD</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇩</string>
		<key>Name</key>
		<string>Congo</string>
	</dict>
	<key>CF</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇫</string>
		<key>Name</key>
		<string>Central African Republic</string>
	</dict>
	<key>CG</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇬</string>
		<key>Name</key>
		<string>Congo</string>
	</dict>
	<key>CH</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇭</string>
		<key>Name</key>
		<string>Switzerland</string>
	</dict>
	<key>CI</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇮</string>
		<key>Name</key>
		<string>Côte D&apos;Ivoire</string>
	</dict>
	<key>CK</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇰</string>
		<key>Name</key>
		<string>Cook Islands</string>
	</dict>
	<key>CL</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇱</string>
		<key>Name</key>
		<string>Chile</string>
	</dict>
	<key>CM</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇲</string>
		<key>Name</key>
		<string>Cameroon</string>
	</dict>
	<key>CN</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇳</string>
		<key>Name</key>
		<string>China</string>
	</dict>
	<key>CO</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇴</string>
		<key>Name</key>
		<string>Colombia</string>
	</dict>
	<key>CR</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇷</string>
		<key>Name</key>
		<string>Costa Rica</string>
	</dict>
	<key>CU</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇺</string>
		<key>Name</key>
		<string>Cuba</string>
	</dict>
	<key>CV</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇻</string>
		<key>Name</key>
		<string>Cape Verde</string>
	</dict>
	<key>CW</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇼</string>
		<key>Name</key>
		<string>Curaçao</string>
	</dict>
	<key>CX</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇽</string>
		<key>Name</key>
		<string>Christmas Island</string>
	</dict>
	<key>CY</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇾</string>
		<key>Name</key>
		<string>Cyprus</string>
	</dict>
	<key>CZ</key>
	<dict>
		<key>Emoji</key>
		<string>🇨🇿</string>
		<key>Name</key>
		<string>Czech Republic</string>
	</dict>
	<key>DE</key>
	<dict>
		<key>Emoji</key>
		<string>🇩🇪</string>
		<key>Name</key>
		<string>Germany</string>
	</dict>
	<key>DJ</key>
	<dict>
		<key>Emoji</key>
		<string>🇩🇯</string>
		<key>Name</key>
		<string>Djibouti</string>
	</dict>
	<key>DK</key>
	<dict>
		<key>Emoji</key>
		<string>🇩🇰</string>
		<key>Name</key>
		<string>Denmark</string>
	</dict>
	<key>DM</key>
	<dict>
		<key>Emoji</key>
		<string>🇩🇲</string>
		<key>Name</key>
		<string>Dominica</string>
	</dict>
	<key>DO</key>
	<dict>
		<key>Emoji</key>
		<string>🇩🇴</string>
		<key>Name</key>
		<string>Dominican Republic</string>
	</dict>
	<key>DZ</key>
	<dict>
		<key>Emoji</key>
		<string>🇩🇿</string>
		<key>Name</key>
		<string>Algeria</string>
	</dict>
	<key>EC</key>
	<dict>
		<key>Emoji</key>
		<string>🇪🇨</string>
		<key>Name</key>
		<string>Ecuador</string>
	</dict>
	<key>EE</key>
	<dict>
		<key>Emoji</key>
		<string>🇪🇪</string>
		<key>Name</key>
		<string>Estonia</string>
	</dict>
	<key>EG</key>
	<dict>
		<key>Emoji</key>
		<string>🇪🇬</string>
		<key>Name</key>
		<string>Egypt</string>
	</dict>
	<key>EH</key>
	<dict>
		<key>Emoji</key>
		<string>🇪🇭</string>
		<key>Name</key>
		<string>Western Sahara</string>
	</dict>
	<key>ER</key>
	<dict>
		<key>Emoji</key>
		<string>🇪🇷</string>
		<key>Name</key>
		<string>Eritrea</string>
	</dict>
	<key>ES</key>
	<dict>
		<key>Emoji</key>
		<string>🇪🇸</string>
		<key>Name</key>
		<string>Spain</string>
	</dict>
	<key>ET</key>
	<dict>
		<key>Emoji</key>
		<string>🇪🇹</string>
		<key>Name</key>
		<string>Ethiopia</string>
	</dict>
	<key>FI</key>
	<dict>
		<key>Emoji</key>
		<string>🇫🇮</string>
		<key>Name</key>
		<string>Finland</string>
	</dict>
	<key>FJ</key>
	<dict>
		<key>Emoji</key>
		<string>🇫🇯</string>
		<key>Name</key>
		<string>Fiji</string>
	</dict>
	<key>FK</key>
	<dict>
		<key>Emoji</key>
		<string>🇫🇰</string>
		<key>Name</key>
		<string>Falkland Islands (Malvinas)</string>
	</dict>
	<key>FM</key>
	<dict>
		<key>Emoji</key>
		<string>🇫🇲</string>
		<key>Name</key>
		<string>Micronesia</string>
	</dict>
	<key>FO</key>
	<dict>
		<key>Emoji</key>
		<string>🇫🇴</string>
		<key>Name</key>
		<string>Faroe Islands</string>
	</dict>
	<key>FR</key>
	<dict>
		<key>Emoji</key>
		<string>🇫🇷</string>
		<key>Name</key>
		<string>France</string>
	</dict>
	<key>GA</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇦</string>
		<key>Name</key>
		<string>Gabon</string>
	</dict>
	<key>GB</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇧</string>
		<key>Name</key>
		<string>United Kingdom</string>
	</dict>
	<key>GD</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇩</string>
		<key>Name</key>
		<string>Grenada</string>
	</dict>
	<key>GE</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇪</string>
		<key>Name</key>
		<string>Georgia</string>
	</dict>
	<key>GF</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇫</string>
		<key>Name</key>
		<string>French Guiana</string>
	</dict>
	<key>GG</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇬</string>
		<key>Name</key>
		<string>Guernsey</string>
	</dict>
	<key>GH</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇭</string>
		<key>Name</key>
		<string>Ghana</string>
	</dict>
	<key>GI</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇮</string>
		<key>Name</key>
		<string>Gibraltar</string>
	</dict>
	<key>GL</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇱</string>
		<key>Name</key>
		<string>Greenland</string>
	</dict>
	<key>GM</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇲</string>
		<key>Name</key>
		<string>Gambia</string>
	</dict>
	<key>GN</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇳</string>
		<key>Name</key>
		<string>Guinea</string>
	</dict>
	<key>GP</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇵</string>
		<key>Name</key>
		<string>Guadeloupe</string>
	</dict>
	<key>GQ</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇶</string>
		<key>Name</key>
		<string>Equatorial Guinea</string>
	</dict>
	<key>GR</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇷</string>
		<key>Name</key>
		<string>Greece</string>
	</dict>
	<key>GS</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇸</string>
		<key>Name</key>
		<string>South Georgia</string>
	</dict>
	<key>GT</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇹</string>
		<key>Name</key>
		<string>Guatemala</string>
	</dict>
	<key>GU</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇺</string>
		<key>Name</key>
		<string>Guam</string>
	</dict>
	<key>GW</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇼</string>
		<key>Name</key>
		<string>Guinea-Bissau</string>
	</dict>
	<key>GY</key>
	<dict>
		<key>Emoji</key>
		<string>🇬🇾</string>
		<key>Name</key>
		<string>Guyana</string>
	</dict>
	<key>HK</key>
	<dict>
		<key>Emoji</key>
		<string>🇭🇰</string>
		<key>Name</key>
		<string>Hong Kong</string>
	</dict>
	<key>HM</key>
	<dict>
		<key>Emoji</key>
		<string>🇭🇲</string>
		<key>Name</key>
		<string>Heard Island and Mcdonald Islands</string>
	</dict>
	<key>HN</key>
	<dict>
		<key>Emoji</key>
		<string>🇭🇳</string>
		<key>Name</key>
		<string>Honduras</string>
	</dict>
	<key>HR</key>
	<dict>
		<key>Emoji</key>
		<string>🇭🇷</string>
		<key>Name</key>
		<string>Croatia</string>
	</dict>
	<key>HT</key>
	<dict>
		<key>Emoji</key>
		<string>🇭🇹</string>
		<key>Name</key>
		<string>Haiti</string>
	</dict>
	<key>HU</key>
	<dict>
		<key>Emoji</key>
		<string>🇭🇺</string>
		<key>Name</key>
		<string>Hungary</string>
	</dict>
	<key>ID</key>
	<dict>
		<key>Emoji</key>
		<string>🇮🇩</string>
		<key>Name</key>
		<string>Indonesia</string>
	</dict>
	<key>IE</key>
	<dict>
		<key>Emoji</key>
		<string>🇮🇪</string>
		<key>Name</key>
		<string>Ireland</string>
	</dict>
	<key>IL</key>
	<dict>
		<key>Emoji</key>
		<string>🇮🇱</string>
		<key>Name</key>
		<string>Israel</string>
	</dict>
	<key>IM</key>
	<dict>
		<key>Emoji</key>
		<string>🇮🇲</string>
		<key>Name</key>
		<string>Isle of Man</string>
	</dict>
	<key>IN</key>
	<dict>
		<key>Emoji</key>
		<string>🇮🇳</string>
		<key>Name</key>
		<string>India</string>
	</dict>
	<key>IO</key>
	<dict>
		<key>Emoji</key>
		<string>🇮🇴</string>
		<key>Name</key>
		<string>British Indian Ocean Territory</string>
	</dict>
	<key>IQ</key>
	<dict>
		<key>Emoji</key>
		<string>🇮🇶</string>
		<key>Name</key>
		<string>Iraq</string>
	</dict>
	<key>IR</key>
	<dict>
		<key>Emoji</key>
		<string>🇮🇷</string>
		<key>Name</key>
		<string>Iran</string>
	</dict>
	<key>IS</key>
	<dict>
		<key>Emoji</key>
		<string>🇮🇸</string>
		<key>Name</key>
		<string>Iceland</string>
	</dict>
	<key>IT</key>
	<dict>
		<key>Emoji</key>
		<string>🇮🇹</string>
		<key>Name</key>
		<string>Italy</string>
	</dict>
	<key>JE</key>
	<dict>
		<key>Emoji</key>
		<string>🇯🇪</string>
		<key>Name</key>
		<string>Jersey</string>
	</dict>
	<key>JM</key>
	<dict>
		<key>Emoji</key>
		<string>🇯🇲</string>
		<key>Name</key>
		<string>Jamaica</string>
	</dict>
	<key>JO</key>
	<dict>
		<key>Emoji</key>
		<string>🇯🇴</string>
		<key>Name</key>
		<string>Jordan</string>
	</dict>
	<key>JP</key>
	<dict>
		<key>Emoji</key>
		<string>🇯🇵</string>
		<key>Name</key>
		<string>Japan</string>
	</dict>
	<key>KE</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇪</string>
		<key>Name</key>
		<string>Kenya</string>
	</dict>
	<key>KG</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇬</string>
		<key>Name</key>
		<string>Kyrgyzstan</string>
	</dict>
	<key>KH</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇭</string>
		<key>Name</key>
		<string>Cambodia</string>
	</dict>
	<key>KI</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇮</string>
		<key>Name</key>
		<string>Kiribati</string>
	</dict>
	<key>KM</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇲</string>
		<key>Name</key>
		<string>Comoros</string>
	</dict>
	<key>KN</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇳</string>
		<key>Name</key>
		<string>Saint Kitts and Nevis</string>
	</dict>
	<key>KP</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇵</string>
		<key>Name</key>
		<string>Korea, North</string>
	</dict>
	<key>KR</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇷</string>
		<key>Name</key>
		<string>Korea, South</string>
	</dict>
	<key>KW</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇼</string>
		<key>Name</key>
		<string>Kuwait</string>
	</dict>
	<key>KY</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇾</string>
		<key>Name</key>
		<string>Cayman Islands</string>
	</dict>
	<key>KZ</key>
	<dict>
		<key>Emoji</key>
		<string>🇰🇿</string>
		<key>Name</key>
		<string>Kazakhstan</string>
	</dict>
	<key>LA</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇦</string>
		<key>Name</key>
		<string>Laos</string>
	</dict>
	<key>LB</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇧</string>
		<key>Name</key>
		<string>Lebanon</string>
	</dict>
	<key>LC</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇨</string>
		<key>Name</key>
		<string>Saint Lucia</string>
	</dict>
	<key>LI</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇮</string>
		<key>Name</key>
		<string>Liechtenstein</string>
	</dict>
	<key>LK</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇰</string>
		<key>Name</key>
		<string>Sri Lanka</string>
	</dict>
	<key>LR</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇷</string>
		<key>Name</key>
		<string>Liberia</string>
	</dict>
	<key>LS</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇸</string>
		<key>Name</key>
		<string>Lesotho</string>
	</dict>
	<key>LT</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇹</string>
		<key>Name</key>
		<string>Lithuania</string>
	</dict>
	<key>LU</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇺</string>
		<key>Name</key>
		<string>Luxembourg</string>
	</dict>
	<key>LV</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇻</string>
		<key>Name</key>
		<string>Latvia</string>
	</dict>
	<key>LY</key>
	<dict>
		<key>Emoji</key>
		<string>🇱🇾</string>
		<key>Name</key>
		<string>Libya</string>
	</dict>
	<key>MA</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇦</string>
		<key>Name</key>
		<string>Morocco</string>
	</dict>
	<key>MC</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇨</string>
		<key>Name</key>
		<string>Monaco</string>
	</dict>
	<key>MD</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇩</string>
		<key>Name</key>
		<string>Moldova</string>
	</dict>
	<key>ME</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇪</string>
		<key>Name</key>
		<string>Montenegro</string>
	</dict>
	<key>MF</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇫</string>
		<key>Name</key>
		<string>Saint Martin</string>
	</dict>
	<key>MG</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇬</string>
		<key>Name</key>
		<string>Madagascar</string>
	</dict>
	<key>MH</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇭</string>
		<key>Name</key>
		<string>Marshall Islands</string>
	</dict>
	<key>MK</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇰</string>
		<key>Name</key>
		<string>Macedonia (FYROM)</string>
	</dict>
	<key>ML</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇱</string>
		<key>Name</key>
		<string>Mali</string>
	</dict>
	<key>MM</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇲</string>
		<key>Name</key>
		<string>Myanmar</string>
	</dict>
	<key>MN</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇳</string>
		<key>Name</key>
		<string>Mongolia</string>
	</dict>
	<key>MO</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇴</string>
		<key>Name</key>
		<string>Macao</string>
	</dict>
	<key>MP</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇵</string>
		<key>Name</key>
		<string>Northern Mariana Islands</string>
	</dict>
	<key>MQ</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇶</string>
		<key>Name</key>
		<string>Martinique</string>
	</dict>
	<key>MR</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇷</string>
		<key>Name</key>
		<string>Mauritania</string>
	</dict>
	<key>MS</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇸</string>
		<key>Name</key>
		<string>Montserrat</string>
	</dict>
	<key>MT</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇹</string>
		<key>Name</key>
		<string>Malta</string>
	</dict>
	<key>MU</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇺</string>
		<key>Name</key>
		<string>Mauritius</string>
	</dict>
	<key>MV</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇻</string>
		<key>Name</key>
		<string>Maldives</string>
	</dict>
	<key>MW</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇼</string>
		<key>Name</key>
		<string>Malawi</string>
	</dict>
	<key>MX</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇽</string>
		<key>Name</key>
		<string>Mexico</string>
	</dict>
	<key>MY</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇾</string>
		<key>Name</key>
		<string>Malaysia</string>
	</dict>
	<key>MZ</key>
	<dict>
		<key>Emoji</key>
		<string>🇲🇿</string>
		<key>Name</key>
		<string>Mozambique</string>
	</dict>
	<key>NA</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇦</string>
		<key>Name</key>
		<string>Namibia</string>
	</dict>
	<key>NC</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇨</string>
		<key>Name</key>
		<string>New Caledonia</string>
	</dict>
	<key>NE</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇪</string>
		<key>Name</key>
		<string>Niger</string>
	</dict>
	<key>NF</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇫</string>
		<key>Name</key>
		<string>Norfolk Island</string>
	</dict>
	<key>NG</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇬</string>
		<key>Name</key>
		<string>Nigeria</string>
	</dict>
	<key>NI</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇮</string>
		<key>Name</key>
		<string>Nicaragua</string>
	</dict>
	<key>NL</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇱</string>
		<key>Name</key>
		<string>Netherlands</string>
	</dict>
	<key>NO</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇴</string>
		<key>Name</key>
		<string>Norway</string>
	</dict>
	<key>NP</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇵</string>
		<key>Name</key>
		<string>Nepal</string>
	</dict>
	<key>NR</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇷</string>
		<key>Name</key>
		<string>Nauru</string>
	</dict>
	<key>NU</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇺</string>
		<key>Name</key>
		<string>Niue</string>
	</dict>
	<key>NZ</key>
	<dict>
		<key>Emoji</key>
		<string>🇳🇿</string>
		<key>Name</key>
		<string>New Zealand</string>
	</dict>
	<key>OM</key>
	<dict>
		<key>Emoji</key>
		<string>🇴🇲</string>
		<key>Name</key>
		<string>Oman</string>
	</dict>
	<key>PA</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇦</string>
		<key>Name</key>
		<string>Panama</string>
	</dict>
	<key>PE</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇪</string>
		<key>Name</key>
		<string>Peru</string>
	</dict>
	<key>PF</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇫</string>
		<key>Name</key>
		<string>French Polynesia</string>
	</dict>
	<key>PG</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇬</string>
		<key>Name</key>
		<string>Papua New Guinea</string>
	</dict>
	<key>PH</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇭</string>
		<key>Name</key>
		<string>Philippines</string>
	</dict>
	<key>PK</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇰</string>
		<key>Name</key>
		<string>Pakistan</string>
	</dict>
	<key>PL</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇱</string>
		<key>Name</key>
		<string>Poland</string>
	</dict>
	<key>PM</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇲</string>
		<key>Name</key>
		<string>Saint Pierre and Miquelon</string>
	</dict>
	<key>PN</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇳</string>
		<key>Name</key>
		<string>Pitcairn</string>
	</dict>
	<key>PR</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇷</string>
		<key>Name</key>
		<string>Puerto Rico</string>
	</dict>
	<key>PS</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇸</string>
		<key>Name</key>
		<string>Palestinian Territory</string>
	</dict>
	<key>PT</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇹</string>
		<key>Name</key>
		<string>Portugal</string>
	</dict>
	<key>PW</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇼</string>
		<key>Name</key>
		<string>Palau</string>
	</dict>
	<key>PY</key>
	<dict>
		<key>Emoji</key>
		<string>🇵🇾</string>
		<key>Name</key>
		<string>Paraguay</string>
	</dict>
	<key>QA</key>
	<dict>
		<key>Emoji</key>
		<string>🇶🇦</string>
		<key>Name</key>
		<string>Qatar</string>
	</dict>
	<key>RE</key>
	<dict>
		<key>Emoji</key>
		<string>🇷🇪</string>
		<key>Name</key>
		<string>Reunion</string>
	</dict>
	<key>RO</key>
	<dict>
		<key>Emoji</key>
		<string>🇷🇴</string>
		<key>Name</key>
		<string>Romania</string>
	</dict>
	<key>RS</key>
	<dict>
		<key>Emoji</key>
		<string>🇷🇸</string>
		<key>Name</key>
		<string>Serbia</string>
	</dict>
	<key>RU</key>
	<dict>
		<key>Emoji</key>
		<string>🇷🇺</string>
		<key>Name</key>
		<string>Russia</string>
	</dict>
	<key>RW</key>
	<dict>
		<key>Emoji</key>
		<string>🇷🇼</string>
		<key>Name</key>
		<string>Rwanda</string>
	</dict>
	<key>SA</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇦</string>
		<key>Name</key>
		<string>Saudi Arabia</string>
	</dict>
	<key>SB</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇧</string>
		<key>Name</key>
		<string>Solomon Islands</string>
	</dict>
	<key>SC</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇨</string>
		<key>Name</key>
		<string>Seychelles</string>
	</dict>
	<key>SD</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇩</string>
		<key>Name</key>
		<string>Sudan</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇪</string>
		<key>Name</key>
		<string>Sweden</string>
	</dict>
	<key>SG</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇬</string>
		<key>Name</key>
		<string>Singapore</string>
	</dict>
	<key>SH</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇭</string>
		<key>Name</key>
		<string>Saint Helena, Ascension and Tristan Da Cunha</string>
	</dict>
	<key>SI</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇮</string>
		<key>Name</key>
		<string>Slovenia</string>
	</dict>
	<key>SJ</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇯</string>
		<key>Name</key>
		<string>Svalbard</string>
	</dict>
	<key>SK</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇰</string>
		<key>Name</key>
		<string>Slovakia</string>
	</dict>
	<key>SL</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇱</string>
		<key>Name</key>
		<string>Sierra Leone</string>
	</dict>
	<key>SM</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇲</string>
		<key>Name</key>
		<string>San Marino</string>
	</dict>
	<key>SN</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇳</string>
		<key>Name</key>
		<string>Senegal</string>
	</dict>
	<key>SO</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇴</string>
		<key>Name</key>
		<string>Somalia</string>
	</dict>
	<key>SR</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇷</string>
		<key>Name</key>
		<string>Suriname</string>
	</dict>
	<key>SS</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇸</string>
		<key>Name</key>
		<string>South Sudan</string>
	</dict>
	<key>ST</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇹</string>
		<key>Name</key>
		<string>Sao Tome and Principe</string>
	</dict>
	<key>SV</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇻</string>
		<key>Name</key>
		<string>El Salvador</string>
	</dict>
	<key>SX</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇽</string>
		<key>Name</key>
		<string>Sint Maarten</string>
	</dict>
	<key>SY</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇾</string>
		<key>Name</key>
		<string>Syria</string>
	</dict>
	<key>SZ</key>
	<dict>
		<key>Emoji</key>
		<string>🇸🇿</string>
		<key>Name</key>
		<string>Swaziland</string>
	</dict>
	<key>TC</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇨</string>
		<key>Name</key>
		<string>Turks and Caicos Islands</string>
	</dict>
	<key>TD</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇩</string>
		<key>Name</key>
		<string>Chad</string>
	</dict>
	<key>TF</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇫</string>
		<key>Name</key>
		<string>French Southern Territories</string>
	</dict>
	<key>TG</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇬</string>
		<key>Name</key>
		<string>Togo</string>
	</dict>
	<key>TH</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇭</string>
		<key>Name</key>
		<string>Thailand</string>
	</dict>
	<key>TJ</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇯</string>
		<key>Name</key>
		<string>Tajikistan</string>
	</dict>
	<key>TK</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇰</string>
		<key>Name</key>
		<string>Tokelau</string>
	</dict>
	<key>TL</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇱</string>
		<key>Name</key>
		<string>Timor-Leste</string>
	</dict>
	<key>TM</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇲</string>
		<key>Name</key>
		<string>Turkmenistan</string>
	</dict>
	<key>TN</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇳</string>
		<key>Name</key>
		<string>Tunisia</string>
	</dict>
	<key>TO</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇴</string>
		<key>Name</key>
		<string>Tonga</string>
	</dict>
	<key>TR</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇷</string>
		<key>Name</key>
		<string>Turkey</string>
	</dict>
	<key>TT</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇹</string>
		<key>Name</key>
		<string>Trinidad and Tobago</string>
	</dict>
	<key>TV</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇻</string>
		<key>Name</key>
		<string>Tuvalu</string>
	</dict>
	<key>TW</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇼</string>
		<key>Name</key>
		<string>Taiwan</string>
	</dict>
	<key>TZ</key>
	<dict>
		<key>Emoji</key>
		<string>🇹🇿</string>
		<key>Name</key>
		<string>Tanzania</string>
	</dict>
	<key>UA</key>
	<dict>
		<key>Emoji</key>
		<string>🇺🇦</string>
		<key>Name</key>
		<string>Ukraine</string>
	</dict>
	<key>UG</key>
	<dict>
		<key>Emoji</key>
		<string>🇺🇬</string>
		<key>Name</key>
		<string>Uganda</string>
	</dict>
	<key>UM</key>
	<dict>
		<key>Emoji</key>
		<string>🇺🇲</string>
		<key>Name</key>
		<string>United States Minor Outlying Islands</string>
	</dict>
	<key>US</key>
	<dict>
		<key>Emoji</key>
		<string>🇺🇸</string>
		<key>Name</key>
		<string>United States</string>
	</dict>
	<key>UY</key>
	<dict>
		<key>Emoji</key>
		<string>🇺🇾</string>
		<key>Name</key>
		<string>Uruguay</string>
	</dict>
	<key>UZ</key>
	<dict>
		<key>Emoji</key>
		<string>🇺🇿</string>
		<key>Name</key>
		<string>Uzbekistan</string>
	</dict>
	<key>VA</key>
	<dict>
		<key>Emoji</key>
		<string>🇻🇦</string>
		<key>Name</key>
		<string>Vatican City</string>
	</dict>
	<key>VC</key>
	<dict>
		<key>Emoji</key>
		<string>🇻🇨</string>
		<key>Name</key>
		<string>Saint Vincent and The Grenadines</string>
	</dict>
	<key>VE</key>
	<dict>
		<key>Emoji</key>
		<string>🇻🇪</string>
		<key>Name</key>
		<string>Venezuela</string>
	</dict>
	<key>VG</key>
	<dict>
		<key>Emoji</key>
		<string>🇻🇬</string>
		<key>Name</key>
		<string>Virgin Islands, British</string>
	</dict>
	<key>VI</key>
	<dict>
		<key>Emoji</key>
		<string>🇻🇮</string>
		<key>Name</key>
		<string>Virgin Islands, U.S.</string>
	</dict>
	<key>VN</key>
	<dict>
		<key>Emoji</key>
		<string>🇻🇳</string>
		<key>Name</key>
		<string>Vietnam</string>
	</dict>
	<key>VU</key>
	<dict>
		<key>Emoji</key>
		<string>🇻🇺</string>
		<key>Name</key>
		<string>Vanuatu</string>
	</dict>
	<key>WF</key>
	<dict>
		<key>Emoji</key>
		<string>🇼🇫</string>
		<key>Name</key>
		<string>Wallis and Futuna</string>
	</dict>
	<key>WS</key>
	<dict>
		<key>Emoji</key>
		<string>🇼🇸</string>
		<key>Name</key>
		<string>Samoa</string>
	</dict>
	<key>YE</key>
	<dict>
		<key>Emoji</key>
		<string>🇾🇪</string>
		<key>Name</key>
		<string>Yemen</string>
	</dict>
	<key>YT</key>
	<dict>
		<key>Emoji</key>
		<string>🇾🇹</string>
		<key>Name</key>
		<string>Mayotte</string>
	</dict>
	<key>ZA</key>
	<dict>
		<key>Emoji</key>
		<string>🇿🇦</string>
		<key>Name</key>
		<string>South Africa</string>
	</dict>
	<key>ZM</key>
	<dict>
		<key>Emoji</key>
		<string>🇿🇲</string>
		<key>Name</key>
		<string>Zambia</string>
	</dict>
	<key>ZW</key>
	<dict>
		<key>Emoji</key>
		<string>🇿🇼</string>
		<key>Name</key>
		<string>Zimbabwe</string>
	</dict>
	<key>XX</key>
	<dict>
		<key>Emoji</key>
		<string>🇺🇳</string>
		<key>Name</key>
		<string>International</string>
	</dict>
	<key>ZZ</key>
	<dict>
		<key>Emoji</key>
		<string>🏳️</string>
		<key>Name</key>
		<string>Unknown</string>
	</dict>
</dict>
</plist>
