<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>number</key>
		<string>4.2</string>
		<key>date</key>
		<string>April 2020</string>
		<key>features</key>
		<string>- This version comes with user profile page which shows user&apos;s reviews, public collection, submitted bands &amp; modification history.
- You can also search a user by username in Simple Search page.
- You can now quickly go to search page or go back to homepage from anywhere. Simply tap the &quot;+&quot; button and properly choose an option.
- Fix error retrieving your collection.
- Fix crash when picking a release other version.
- Fix some silly broken English.

Special thanks to Lenn for his continuous suggestions.</string>
	</dict>
	<dict>
		<key>number</key>
		<string>4.1</string>
		<key>date</key>
		<string>April 2020</string>
		<key>features</key>
		<string>- Fix app crash when username has spaces
- Fix left menu item title</string>
	</dict>
	<dict>
		<key>number</key>
		<string>4.0</string>
		<key>date</key>
		<string>April 2020</string>
		<key>features</key>
		<string>- You can now log in with your Metal Archives account.
- Manage your bookmarks: add/remove/edit bands/artists/labels/releases.
- Manage your collection: add/remove/edit releases.
- Fix reminder creation error.
- Create reminder from inside a release page.</string>
	</dict>
	<dict>
		<key>number</key>
		<string>3.5</string>
		<key>date</key>
		<string>April 2020</string>
		<key>features</key>
		<string>- You can now create a reminder for an upcoming album.
- Fix Today widget background issue.
- Display album title/artist name alongside the cover/photo.
- Replace some icons &amp; minor UI fixes.</string>
	</dict>
	<dict>
		<key>number</key>
		<string>3.4</string>
		<key>date</key>
		<string>September 2019</string>
		<key>features</key>
		<string>- Homepage section reordering capacity. You now have full control to your homepage layout.
- Today widget “Unable to load” fix.
- A filter by genre for Upcoming Albums list. Thanks to Andreas for the suggestion.
- Split releases are now more informative. All involved bands are listed comparing to only the first band in precedent versions. A band name annotation is also added to involved artists who are band member. Thanks to Lenn, once again, for the suggestion.
- A minor typo fix in homepage. Thanks to Matt for pointing out.</string>
	</dict>
	<dict>
		<key>number</key>
		<string>3.3</string>
		<key>date</key>
		<string>August 2019</string>
		<key>features</key>
		<string>- Add annotation to instrumental songs in a release (thanks to Lenn for the suggestion).
- Upcoming albums section is now on top of homepage.
- Artist page with thumbnails for band&apos;s logo and release&apos;s cover.
- And many more small UI changes.</string>
	</dict>
	<dict>
		<key>number</key>
		<string>3.2</string>
		<key>date</key>
		<string>July 2019</string>
		<key>features</key>
		<string>- Integrate Deezer Search &amp; Preview (30 seconds preview) which allows user to listening to band&apos;s top tracks and releases inside the app.
- Minor UI improvements.
- Fix occasional crashes.</string>
	</dict>
	<dict>
		<key>number</key>
		<string>3.1</string>
		<key>date</key>
		<string>July 2019</string>
		<key>features</key>
		<string>- Fix band lyrical themes not being updated.
- Fix crashes on iPad.</string>
	</dict>
	<dict>
		<key>number</key>
		<string>3.0</string>
		<key>date</key>
		<string>July 2019</string>
		<key>features</key>
		<string>Second important update with many UI/UX improvements.   - Band/Artist/Release/Label detail page with new design.
- Homepage with new layout.
- Thumbnails can be tapped.
- Search history tracking.</string>
	</dict>
	<dict>
		<key>number</key>
		<string>2.2</string>
		<key>date</key>
		<string>April 2019</string>
		<key>features</key>
		<string>- Fix crashes on iOS 10 &amp; 11. - Add default discography mode option. - Fix Today Widget&apos;s height issue</string>
	</dict>
	<dict>
		<key>number</key>
		<string>2.1</string>
		<key>date</key>
		<string>April 2019</string>
		<key>features</key>
		<string>- Support 3 font size options: default, medium, large. - Integrate Push Notification - Some UI improvements - Homepage now loads each section separately.</string>
	</dict>
	<dict>
		<key>number</key>
		<string>2.0.1</string>
		<key>date</key>
		<string>March 2019</string>
		<key>features</key>
		<string>- Fix crashes on iPad when displaying a list of options</string>
	</dict>
	<dict>
		<key>number</key>
		<string>2.0</string>
		<key>date</key>
		<string>March 2019</string>
		<key>features</key>
		<string>This biggest update since the release of the app comes with various new features and a completely new interface. 

- The app now has a homepage with almost everything you can do on the web version: statistics, new archives, latest additions/updates/review, upcoming albums...
- Much more informative: items are displayed with thumbnails.
- Advanced searches are now supported.
- Customizable theme with 4 built-in themes.
- Customizable today widget.
- 3D touch for quick actions: search, random band.</string>
	</dict>
	<dict>
		<key>number</key>
		<string>1.0</string>
		<key>date</key>
		<string>January 2016</string>
		<key>features</key>
		<string>First release</string>
	</dict>
</array>
</plist>
